@()(implicit user: User, messages: Messages, menus: List[utils.services.data.Menu])

@views.html.templates.logged(title = "Content editor", tab = "editor") {
  <h2>@Messages("spendings.tracking")</h2>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <div id="spending-statement" class="spending-tracking-form">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>@Messages("spendings.card.vendor")</th>
            <th>@Messages("spendings.card.name")</th>
            <th>@Messages("spendings.statement.amount")</th>
            <th>@Messages("spendings.statement.timestamp")</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div><a href="#" class="add-new">@Messages("spendings.add.statement")</a></div>
        <form id="add-statement" method="POST" class="form-vertical hidden" role="form">
          <fieldset>
            <legend>@Messages("spendings.statements")</legend>
            <div class="form-group  " id="statement-card_field">
              <label class="control-label sr-only" for="category-name">@Messages("spendings.cards")</label>
              <select id="statement-card" class="form-control">
              </select>
            </div>
            <div class="form-group  " id="statement-amount_field">
              <label class="control-label sr-only" for="category-name">@Messages("spendings.statement.amount")</label>
              <input type="text" id="statement-amount" value="" class="form-control" placeholder="@Messages("spendings.statement.amount")">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> @Messages("submit")</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <!--<div class="col-md-4">-->
      <!--<div id="spending-spending" class="spending-tracking-form">-->
        <!--<table class="table table-striped table-hover">-->
          <!--<thead>-->
          <!--<tr>-->
            <!--<th>@Messages("spendings.card.vendor")</th>-->
            <!--<th>@Messages("spendings.card.name")</th>-->
            <!--<th>@Messages("spendings.category.name")</th>-->
            <!--<th>@Messages("spendings.spending.amount")</th>-->
            <!--<th>@Messages("spendings.spending.timestamp")</th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
          <!--</tbody>-->
        <!--</table>-->
        <!--<div><a href="#" class="add-new">@Messages("spendings.add.spending")</a></div>-->
        <!--<form id="add-spending-action" method="POST" class="form-vertical hidden" role="form">-->
          <!--<fieldset>-->
            <!--<legend>@Messages("spendings.spendings")</legend>-->
            <!--<div class="form-group  " id="spending-actions-card_field">-->
              <!--<label class="control-label sr-only" for="category-name">@Messages("spendings.cards")</label>-->
              <!--<select id="spending-actions-card" class="form-control">-->
              <!--</select>-->
            <!--</div>-->
            <!--<div class="form-group  " id="spending-actions-category_field">-->
              <!--<label class="control-label sr-only" for="spending-actions-category">@Messages("spendings.categories")</label>-->
              <!--<select id="spending-actions-category" class="form-control">-->
              <!--</select>-->
            <!--</div>-->
            <!--<div class="form-group  " id="spending-actions-amount_field">-->
              <!--<label class="control-label sr-only" for="spending-actions-amount">@Messages("spendings.spending.amount")</label>-->
              <!--<input type="text" id="spending-actions-amount" value="" class="form-control" placeholder="@Messages("spendings.spending.amount")">-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<button type="submit" class="btn btn-primary btn-block"> @Messages("submit")</button>-->
            <!--</div>-->
          <!--</fieldset>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  </div>
}