@(title: String, loggedUser: Option[User], withMainTabs: Boolean = true, tab: String = "", styles: Html = Html(""), scripts: Html = Html(""), modals: Html = Html(""))(content: Html)(implicit messages: Messages, menus: List[utils.services.data.Menu])

@import views.html.tags.auth._
@import controllers.routes

@displayToggleLang = {
	@if(messages.lang.code == "en") {
		<li><a href="@routes.Application.selectLang("ru")">Русский</a></li>
	} else {
		<li><a href="@routes.Application.selectLang("en")">English</a></li>
	}
}

@navbarContent = {
	@if(withMainTabs) {
		<ul class="nav navbar-nav">
			@for(menu <- menus) {
			<li><a href="@menu.url">@Messages(menu.title)</a></li>
			}
			<!--<li class="@("active".when(tab == "index"))"><a href="@routes.Application.index">@Messages("index.page")</a></li>-->
			@loggedUser.map { implicit user =>
				@forRole(UserRole.USER) {
					<li><a href="@routes.SpendTrackingController.metaTracking">@Messages("spendings.meta")</a>
				}
				@forRole(UserRole.USER) {
					<li><a href="@routes.SpendTrackingController.mainTracking">@Messages("spendings.tracking")</a>
				}
				@forRole(UserRole.ADMIN) {
					<li><a href="@routes.EditorController.editorPage">@Messages("editor.title")</a></li>
				}
				<!--<li class="@("active".when(tab == "myaccount"))"><a href="@routes.Application.myAccount">@Messages("topbar.myaccount")</a></li>-->
			}
		</ul>
	}
	<ul class="nav navbar-nav navbar-right">
		@loggedUser.map { user =>
			<li class="navbar-text text-right" style="margin: 5px 15px">
				@Html(Messages("topbar.hello", s"""<span class="text-success">${user.nick}</span>""", s"""<span class="text-info">${user.role}</span>"""))
			</li>
			@displayToggleLang
			<li><a href="@routes.Auth.signOut">@Messages("signout")</a></li>
		}.getOrElse {
			@displayToggleLang
			<li class="@("active".when(tab == "signin"))"><a href="@routes.Auth.signIn">@Messages("signin")</a></li>
			<li class="@("active".when(tab == "signup"))"><a href="@routes.Auth.startSignUp">@Messages("signup")</a></li>
		}
	</ul>
}

@main(title, navbarContent, styles, scripts, modals)(content)