@()(implicit loggedUser: Option[User], messages: Messages, menus: List[utils.services.data.Menu])

@import views.html.tags.auth._
@import controllers.routes
@import models._

@views.html.templates.default(title = "Home", loggedUser, tab = "index") {
		
		<h1 class="text-primary">@Messages("index.title")</h1>
		
		<p class="lead">
			@loggedUser.map { user =>
				@Html(Messages("index.intro.logged", user.fullName, routes.Application.myAccount, routes.Auth.signOut))
			}.getOrElse {
				<h3>@Messages("signup.disabled")</h3>
				<!--@Html(Messages("index.intro.notlogged", routes.Auth.signIn, routes.Auth.startSignUp, routes.Auth.forgotPassword))-->
			}
		</p>

	}
	